In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train/challenge-2019-train-detection-bbox.csv')

In [3]:
df.head()

,ImageID,Source,LabelName,Confidence,XMin,XMax,YMin,YMax,IsOccluded,IsTruncated,IsGroupOf,IsDepiction,IsInside
0,8d6dec80235b6fea,xclick,/m/09j5n,1,0.760000,0.778125,0.645892,0.673277,0,0,0,0,0
1,8d6dec80235b6fea,xclick,/m/09j5n,1,0.817500,0.831875,0.628895,0.661945,0,0,0,0,0
2,8d6dec80235b6fea,xclick,/m/09j5n,1,0.843125,0.870000,0.619452,0.645892,0,0,0,0,0
3,8d6dec80235b6fea,xclick,/m/09j5n,1,0.867500,0.891875,0.597734,0.625118,0,0,0,0,0
4,8d6dec80235b6fea,xclick,/m/09j5n,1,0.895625,0.911250,0.625118,0.656280,0,0,0,0,0

In [4]:
cnts = df.LabelName.value_counts()

In [5]:
cnts.head()

/m/04yx4      1418594
/m/07j7r      1051344
/m/0dzct      1037710
/m/01g317     1034721
/m/03bt1vf     767337
Name: LabelName, dtype: int64

In [6]:
len(df)

12195144

In [7]:
cnts.describe()

count    5.000000e+02
mean     2.439029e+04
std      1.189059e+05
min      1.400000e+01
25%      5.985000e+02
50%      1.652000e+03
75%      5.553000e+03
max      1.418594e+06
Name: LabelName, dtype: float64

In [8]:
(cnts.mean()/cnts).head()

/m/04yx4      0.017193
/m/07j7r      0.023199
/m/0dzct      0.023504
/m/01g317     0.023572
/m/03bt1vf    0.031786
Name: LabelName, dtype: float64

In [9]:
(cnts.mean()/cnts).describe()

count     500.000000
mean       39.208089
std       107.514526
min         0.017193
25%         4.394739
50%        14.764102
75%        40.752446
max      1742.163429
Name: LabelName, dtype: float64

In [10]:
cnts[(14*50 <= cnts) & (cnts < 14*50*20)]

/m/01j51     13505
/m/04_sv     13382
/m/03k3r     13368
/m/02dl1y    13245
/m/07jdr     13050
             ...
/m/03d443      724
/m/0cd4d       715
/m/029b3       714
/m/03tw93      711
/m/01dwsz      710
Name: LabelName, Length: 277, dtype: int64

In [11]:
lows = cnts[cnts < 14*50]
mids = cnts[(cnts >= 14*50) & (cnts < 14*50*20)]
highs = cnts[cnts >= 14*50*20]

In [12]:
lows.describe()

count    150.000000
mean     387.013333
std      181.251392
min       14.000000
25%      239.500000
50%      379.000000
75%      560.250000
max      688.000000
Name: LabelName, dtype: float64

In [13]:
mids.describe()

count      277.000000
mean      3428.660650
std       3064.087383
min        710.000000
25%       1260.000000
50%       2088.000000
75%       4507.000000
max      13505.000000
Name: LabelName, dtype: float64

In [14]:
highs.describe()

count    7.300000e+01
mean     1.532514e+05
std      2.796888e+05
min      1.518300e+04
25%      2.399600e+04
50%      4.469700e+04
75%      1.108480e+05
max      1.418594e+06
Name: LabelName, dtype: float64

In [15]:
print(lows.sum(), mids.sum(), highs.sum())

58052 949739 11187353

In [16]:
highs.mean() / highs

/m/04yx4       0.108030
/m/07j7r       0.145767
/m/0dzct       0.147682
/m/01g317      0.148109
/m/03bt1vf     0.199719
                ...
/m/0zvk5       9.286839
/m/03p3bw      9.607034
/m/09ddx       9.918543
/m/081qc       9.951390
/m/01yrx      10.093619
Name: LabelName, Length: 73, dtype: float64

In [17]:
highs = highs.mean() / highs
mids = mids.mean() / mids
lows = lows.mean() / lows

In [18]:
highs.name = 'Weight'
mids.name = 'Weight'
lows.name = 'Weight'

In [20]:
df_h = df.join(highs, on='LabelName', how='inner')

In [21]:
df_h.head()

,ImageID,Source,LabelName,Confidence,XMin,XMax,YMin,YMax,IsOccluded,IsTruncated,IsGroupOf,IsDepiction,IsInside,Weight
0,8d6dec80235b6fea,xclick,/m/09j5n,1,0.760000,0.778125,0.645892,0.673277,0,0,0,0,0,0.205852
1,8d6dec80235b6fea,xclick,/m/09j5n,1,0.817500,0.831875,0.628895,0.661945,0,0,0,0,0,0.205852
2,8d6dec80235b6fea,xclick,/m/09j5n,1,0.843125,0.870000,0.619452,0.645892,0,0,0,0,0,0.205852
3,8d6dec80235b6fea,xclick,/m/09j5n,1,0.867500,0.891875,0.597734,0.625118,0,0,0,0,0,0.205852
4,8d6dec80235b6fea,xclick,/m/09j5n,1,0.895625,0.911250,0.625118,0.656280,0,0,0,0,0,0.205852

In [22]:
len(df_h)

11187353

In [23]:
df_l = df.join(lows, on='LabelName', how='inner')

In [24]:
df_l.head()

,ImageID,Source,LabelName,Confidence,XMin,XMax,YMin,YMax,IsOccluded,IsTruncated,IsGroupOf,IsDepiction,IsInside,Weight
84,8d6e9ce2c9d9179a,xclick,/m/0176mf,1,0.015000,0.887500,0.326130,0.757695,0,0,0,0,0,0.917093
16540,8dbe5ee0ee6aac78,xclick,/m/0176mf,1,0.000000,0.999023,0.157122,0.867841,0,1,0,0,0,0.917093
116360,8fd920b73edf9caf,xclick,/m/0176mf,1,0.168750,0.546250,0.066250,0.528750,0,0,0,0,0,0.917093
131597,902ae1b75d636021,xclick,/m/0176mf,1,0.470000,0.651875,0.833959,0.918387,1,0,0,0,0,0.917093
246340,cb7650d72c9cbf46,activemil,/m/0176mf,1,0.470874,0.756472,0.303750,0.440000,0,0,0,0,0,0.917093

In [25]:
len(df_l)

58052

In [26]:
df_m = df.join(mids, on='LabelName', how='inner')

In [27]:
df_m.head()

,ImageID,Source,LabelName,Confidence,XMin,XMax,YMin,YMax,IsOccluded,IsTruncated,IsGroupOf,IsDepiction,IsInside,Weight
54,8d6e3a506d4e5b9f,xclick,/m/01bjv,1,0.001875,0.999375,0.000000,0.834897,0,1,0,0,0,0.28747
914,8d722d0d752af04d,xclick,/m/01bjv,1,0.000000,0.434375,0.037428,0.989443,0,1,0,0,0,0.28747
915,8d722d0d752af04d,xclick,/m/01bjv,1,0.206875,0.769375,0.052783,0.946257,1,0,0,0,0,0.28747
916,8d722d0d752af04d,xclick,/m/01bjv,1,0.530625,0.978125,0.076775,0.897313,1,0,0,0,0,0.28747
5027,8d862619d8dd5db4,xclick,/m/01bjv,1,0.110625,0.966875,0.000000,0.999167,0,1,0,0,0,0.28747

In [28]:
len(df_m)

949739

In [29]:
df_m.ImageID.nunique()

426098

In [30]:
df_h.ImageID.nunique()

1469904

In [31]:
df_l.ImageID.nunique()

37881

In [32]:
df.ImageID.nunique()

1674979

In [33]:
df_l.to_csv('train/boxes_low.csv', index=False)

In [34]:
df_m.to_csv('train/boxes_mid.csv', index=False)

In [35]:
df_h.to_csv('train/boxes_high.csv', index=False)

In [36]:
highs.to_csv('train/weights_h.csv', index_label='LabelName', header=True)

In [37]:
mids.to_csv('train/weights_m.csv', index_label='LabelName', header=True)
lows.to_csv('train/weights_l.csv', index_label='LabelName', header=True)

In [38]:
vd = pd.read_csv('validation/challenge-2019-validation-detection-bbox.csv')

In [39]:
vd.head()

,ImageID,LabelName,XMin,XMax,YMin,YMax,IsGroupOf
0,0001eeaf4aed83f9,/m/0cmf2,0.022673,0.964200,0.071038,0.800546,0
1,000595fe6fee6369,/m/02xwb,0.141384,0.179676,0.676275,0.731707,0
2,000595fe6fee6369,/m/02xwb,0.213549,0.253314,0.299335,0.354767,0
3,000595fe6fee6369,/m/02xwb,0.232695,0.288660,0.490022,0.545455,0
4,000595fe6fee6369,/m/02xwb,0.245950,0.291605,0.547672,0.605322,0

In [40]:
vd_h = vd.join(highs, on='LabelName', how='inner')

In [41]:
vd_h.head()

,ImageID,LabelName,XMin,XMax,YMin,YMax,IsGroupOf,Weight
0,0001eeaf4aed83f9,/m/0cmf2,0.022673,0.964200,0.071038,0.800546,0,7.199972
52,0009bad4d8539bb4,/m/0cmf2,0.294551,0.705449,0.340708,0.515487,0,7.199972
152,0019e544c79847f5,/m/0cmf2,0.000000,0.349558,0.106195,0.396018,0,7.199972
153,0019e544c79847f5,/m/0cmf2,0.538348,0.874631,0.688053,0.909292,0,7.199972
414,007384da2ed0464f,/m/0cmf2,0.000000,1.000000,0.372917,0.768750,0,7.199972

In [42]:
vd_m = vd.join(mids, on='LabelName', how='inner')

In [43]:
vd_m.head()

,ImageID,LabelName,XMin,XMax,YMin,YMax,IsGroupOf,Weight
43,0007cebe1b2ba653,/m/07mhn,0.735988,0.926254,0.022124,0.402655,0,0.404276
88,00141571d986d241,/m/07mhn,0.000000,0.039062,0.762500,0.997917,0,0.404276
89,00141571d986d241,/m/07mhn,0.154688,0.464062,0.458333,0.866667,0,0.404276
1207,014d85b26445629d,/m/07mhn,0.429204,0.604720,0.515487,0.993363,0,0.404276
1208,014d85b26445629d,/m/07mhn,0.603245,0.626844,0.659292,0.725664,0,0.404276

In [44]:
vd_l = vd.join(lows, on='LabelName', how='inner')

In [45]:
vd_l.head()

,ImageID,LabelName,XMin,XMax,YMin,YMax,IsGroupOf,Weight
177,002b0dc60b1068a9,/m/01s55n,0.000000,1.000000,0.000000,1.000000,1,0.614307
6432,06e90333a82a8361,/m/01s55n,0.005900,0.902655,0.061947,0.995575,0,0.614307
10305,0b6edfb096fad378,/m/01s55n,0.000000,1.000000,0.109145,1.000000,1,0.614307
19117,159c27c3fcf6e267,/m/01s55n,0.256318,0.765343,0.009025,0.985560,0,0.614307
31119,23455e0b913929d9,/m/01s55n,0.192931,0.792342,0.321508,0.827051,0,0.614307

In [46]:
vd_h.to_csv('validation/valid_boxes_h.csv', index=False)

In [47]:
vd_m.to_csv('validation/valid_boxes_m.csv', index=False)
vd_l.to_csv('validation/valid_boxes_l.csv', index=False)